<div class="image-partner">
            <a class="analytic-listener" data-label="kemenkeu_tap" data-attr="{'user_name' : '<?php echo empty($user->name) ? '' : $user->name ?>'}" href="https://www.kemenkeu.go.id/" target="_BLANK">
              <img src="<?php echo base_url('assets/images/kementrian-keuangan.png') ?>" alt="kementrian-keuangan">
            </a>
          </div>
          <div class="image-partner">
            <a class="analytic-listener" data-label="bi_tap" data-attr="{'user_name' : '<?php echo empty($user->name) ? '' : $user->name ?>'}" href="https://www.bi.go.id/id/default.aspx" target="_BLANK">
              <img src="<?php echo base_url('assets/images/bank-indonesia.png') ?>" alt="bank-indonesia">
            </a>
          </div>
          <div class="image-partner">
            <a class="analytic-listener" data-label="ojk_tap" data-attr="{'user_name' : '<?php echo empty($user->name) ? '' : $user->name ?>'}" href="https://www.ojk.go.id/id/Default.aspx" target="_BLANK">
              <img src="<?php echo base_url('assets/images/ojk.png') ?>" alt="ojk">
            </a>
          </div>
          <!-- <div class="image-partner">
              <img src="<?php echo base_url('assets/images/dewan-pers.png') ?>" alt="dewan-pers">
            </div> -->
          <div class="image-partner">
            <a class="analytic-listener" data-label="idx_tap" data-attr="{'user_name' : '<?php echo empty($user->name) ? '' : $user->name ?>'}" href="https://idx.co.id/" target="_BLANK">
              <img src="<?php echo base_url('assets/images/bursa-efek.png') ?>" alt="bursa-efek">
            </a>
          </div>
          <div class="image-partner">
            <a class="analytic-listener" data-label="kpei_tap" data-attr="{'user_name' : '<?php echo empty($user->name) ? '' : $user->name ?>'}" href="https://www.kpei.co.id/" target="_BLANK">
              <img src="<?php echo base_url('assets/images/kpei.png') ?>" alt="kpei">
            </a>
          </div>
          <div class="image-partner bigger">
            <a class="analytic-listener" data-label="ksei_tap" data-attr="{'user_name' : '<?php echo empty($user->name) ? '' : $user->name ?>'}" href="https://www.ksei.co.id/" target="_BLANK">
              <img src="<?php echo base_url('assets/images/ksei-1.png') ?>" alt="ksei">
            </a>
          </div>